* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

body {
    background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17));
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #e2e2e2;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
    height: 70px;
    background-color: #006400;
}

.nav-link {
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.nav-link:hover {
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.container-fluid {
    background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17));
    background-repeat: no-repeat;
}

.card-body {
    height: 14rem;
}

.card-header {
    font-size: larger;
}

.timer {
    margin-left: 28.5rem;
}

.btn{
    background-color: #006400;
    /* padding: 10px 20px; */
    padding: 4px 20px;
    border: 1px solid #006400;
    font-size: larger;
}

.btn:hover{
    background-color: #049104;
    border: 1px solid #049104;
}

/* Responsive styles */
@media (max-width: 799px) {
    .quiz-container {
        margin: 20px auto;
        padding: 15px;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .timer {
        margin-left: 20px;
        padding-top: 5px;
    }

}

@media (max-width: 480px) {
    .quiz-container {
        margin: 10px auto;
        padding: 10px;
    }

    .nav-link {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .quizView {
        width: 100%;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .timer {
        margin-left: 20px;
        padding-top: 5px;
    }
}